#login-modal.modal.fade(style='display: none;')
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button",class="close",data-dismiss="modal"): span= "×"
          h4= t("ns.general:login.title")
        .modal-body
          .row
            .col-md-6
              form
                div.form-group: input.form-control(type='text', name='username', placeholder= t("ns.general:login.placeholder_username"))
                div.form-group: input.form-control(type='password', name='password', placeholder= t("ns.general:login.placeholder_password"))
                div.form-group: span.message.text-danger(style="display:none")
                input.btn.btn-submit(type='button', name='login', value= t("ns.general:login.btn_login"),data-loading-text=t("ns.general:login.loading"))
            .col-md-6
              div.social-login
                a.btn.btn-block.btn-social.btn-facebook#fb-login
                  i.fa.fa-facebook
                  = t("ns.general:social_network.facebook_login")
                a.btn.btn-block.btn-social.btn-google#g-login
                  i.fa.fa-google
                  = t("ns.general:social_network.google_login")
        .modal-footer
          a(href='#',data-toggle="modal",data-target="#register-modal")= t("ns.general:login.link_register")
          |  - 
          a(href='/password/forget')= t("ns.general:login.link_forgetpassword")            