extends _layout
block variables
	- var categories = (cats || [])

block content
	div.container#content
		div.row
			div.col-md-8.col-md-offset-2
				div.panel.panel-default
					div.panel-heading
						h4= t("ns.general:forget_password.title")
					div.panel-body
						form(method="POST")
							div.form-group.required: input.form-control(type='text', name='username', placeholder= t("ns.general:forget_password.placeholder_username"),required)
							div.form-group: span.message.text-danger(style= error ? "":"display:none")= error || ""
							input.btn.btn-submit(type='submit', name='send', value= t("ns.general:forget_password.btn_send"))
					
block javascript