extends _layout
block variables
	- var categories = (cats || [])

block content
	div.container#content
		div.row
			div.col-md-8.col-md-offset-2
				div.panel.panel-default
					div.panel-heading
						h4= t("ns.general:reset_password.title")
					div.panel-body
						form(method="POST")
							div.form-group: input.form-control(type='password', name='newPassword', placeholder= t("ns.general:reset_password.placeholder_new_password"))
							div.form-group: input.form-control(type='password', name='newPasswordConfirm', placeholder= t("ns.general:reset_password.placeholder_new_password_confirm"))
							div.form-group: span.message.text-danger(style= error ? "":"display:none")= error || ""
							input.btn.btn-submit(type='submit', name='reset', value= t("ns.general:reset_password.btn_reset"))

block javascript